.addDoc{
    margin: 0 auto;
    margin-top: 2%;
    width: 70% !important;
    height: 85px;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.05);
}

.plusIconD{
    width: 45px;
    height: 45px;
    border: none;
    background-color: #ffffff;
}