.Welcome_Section{
    padding-top: 10vh;
    padding-left: 2vh !important;
    height:48vh;
    color: black;
}

.WeekApp_Section{
    padding-top: 2vh;
    height:48vh;
}

.WeekApp{
    padding-top: 4%;
    text-align: center;
    width: 90%;
    height: 90%;
}

.AppsWeek{
    width: 93%;
    height: 85%;
}

.TodayApp_Section{
    height:60vh;
}

.AppToday{
    width: 95%;
    height: 45px;
  }

.AppTodayH{
    width: 95%;
    height: 30px;
  }

.Appointment{
    padding-top:1%;
    height: 45px;
  }

.AppointmentH{
    padding-top:0.5%;
    height: 30px;
    font-weight: bold;
  }

.AppToday li{
    width: 25%;
  }

.AppTodayH li{
    width: 25%;
  }



.TodaySearch{
    height: 65px;
    margin-bottom: 3vh;
}

.TodaySearch h2{
    font-weight: 400 !important;
}

.createApp{
    margin-top: 13%;
    width: 100% !important;
    height: 85px;
    background-color: $primary_lightblue;
}

.createApp h3{
    text-align: center;
    color: white;
}

.plusIcon{
    margin-left: 46% !important;
    width: 45px;
    height: 45px;
    background-color: $primary_lightblue;
    border: none;
}


