.Welcome_Section{
    padding-top: 6vh;
    padding-left: 2vh !important;
    height:48vh;
    color: black;
}

.Welcome_subSection{
    float:left;
    width: 60%;
    height: 100%;
}

.WeekApp_Section{
    padding-top: 2vh;
    height:48vh;
}

.WeekApp{
    padding-top: 4%;
    width: 90%;
    height: 90%;
}

.AppsWeek{
    width: 93%;
    height: 85%;
}

.TodayApp_Section{
    height:60vh;
}

.AppToday{
    width: 95%;
    height: 45px;
  }

.AppTodayH{
    width: 95%;
    height: 30px;
  }

.Appointment{
    padding-top:1%;
    height: 45px;
  }

.AppointmentH{
    padding-top:0.5%;
    height: 30px;
    font-weight: bold;
  }

.AppToday li{
    width: 25%;
  }

.AppTodayH li{
    width: 25%;
  }



.TodaySearch{
    height: 65px;
    margin-bottom: 3vh;
}

.TodaySearch h2{
    font-weight: 400 !important;
}

.createApp{
    // margin-top: 13%;
    float:left;
    padding-top: 6%;
    width: 30%;
    height: 80%;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.05);
}

.createApp h3{
    text-align: center;
    color: black;
}

.plusIcon{
    margin-left: 38% !important;
    margin-top: 10%;
    width: 55px;
    height: 55px;
    background-color: #ffffff;
    border: none;
    background-image: url(../../img/plusButton.svg);
    background-size: contain;
}


