.PatData{
    margin-top: 42px;
    width: 50%;
    font-weight: bold !important;
}

.height{
    height: 35px !important;
}

.addPerson{
    margin-top: 1px !important;
    width: 15%;
    height: 35px;
    background-color: $secondary_greenish;
}

.patientCard{
    height: 300px !important;
    border-radius: 5px !important;
    margin-bottom: 1%;
}

.patientCardi{
    background-color: white !important;
    width: 100%;
    height: 100%;
    border-radius: 5px !important;
}

.TopStyle{
    height: 100px !important;
}

.editBut{
    width: 30px;
    height: 30px;
    float: right !important;
    margin-top: 10% !important;
}

.TopStyleImg{
    margin-top: 10%;
    width: 85px !important;
    height: 85px !important;
    border-radius: 100px !important;
}

.BotStyle{
    height: 40px !important;
}

@media (max-width: 420px) { 
    .patientCard{
        margin-top: 0 !important;
        height: 100px !important;
        border-radius: 5px !important;
        margin-bottom: 1%;
    }
    .TopStyle{
        height: 45px !important;    
    }

    h4{
        display: none;
    }
    
    .BotStyle{
        height: 20px !important;
    }
    .TopStyleImg{
        margin-top: 10%;
        width: 35px !important;
        height: 35px !important;
        border-radius: 100px !important;
    }
    .editBut{
        width: 30px;
        height: 30px;
        float: right !important;
        margin-top: 2% !important;
    }
 }