//background-images
@mixin background_images {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

//Headings and text
@mixin heading_one {
    font-size: 40px !important;
    font-weight: 750 !important;
  }

@mixin heading_two {
    font-size: 24px !important;
    font-weight: 650 !important;
  }

@mixin paragraph {
    font-size: 16px !important;
    font-weight: 400 !important;
  }